# Import Libraries

In [2]:
# library dataframe
import pandas as pd
# library olah data numerical
import numpy as np

# Save model
import pickle
# import joblib
import json


# Library to suppress warnings or deprecation notes
import warnings
warnings.filterwarnings('ignore')

# Data inference

Buat data dari Car insurance

In [7]:
data = [
    {
        'AGE': np.random.choice(['young', 'middle age', 'old','very old']),
        'GENDER':np.random.choice(['male','female']),
        'RACE': np.random.choice(['majority', 'minority']),
        'DRIVING_EXPERIENCE': np.random.choice(['newbie', 'amateure', 'advanced', 'expert']),
        'EDUCATION': np.random.choice(['high school','none', 'university']),
        'INCOME': np.random.choice(['upper class', 'poverty', 'working class', 'middle class']),
        'CREDIT_SCORE': np.random.uniform(0,10),
        'VEHICLE_OWNERSHIP': np.random.choice([0, 1]),
        'VEHICLE_YEAR': np.random.choice(['before 2015', 'after 2015']),
        'MARRIED': np.random.choice([0,1]),
        'CHILDREN': np.random.choice([0,1]),
        'ANNUAL_MILEAGE':np.random.randint(1000, 25000),
        'VEHICLE_TYPE':np.random.choice(['sedan', 'sport car']),
        'SPEEDING_VIOLATIONS': np.random.randint(0,15),
        'DUIS': np.random.randint(0,15),
        'PAST_ACCIDENTS': np.random.randint(0,15),
        'CITY': np.random.choice(['baltimore','new York','orlando','san diego']),
    } for i in range(6) 
]

data = pd.DataFrame(data)
data

,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,CITY
0,middle age,female,majority,newbie,none,upper class,0.125983,1,before 2015,0,1,17661,sedan,10,10,7,san diego
1,very old,female,minority,newbie,university,poverty,7.150248,1,before 2015,0,1,5949,sport car,11,0,9,orlando
2,middle age,male,minority,advanced,high school,upper class,3.983651,0,before 2015,1,0,17253,sedan,8,1,8,orlando
3,old,female,majority,newbie,none,working class,3.442613,0,before 2015,1,1,4587,sedan,0,2,11,baltimore
4,young,male,minority,advanced,none,upper class,0.098821,1,before 2015,0,0,12276,sedan,10,13,3,baltimore
5,young,male,minority,amateure,university,working class,1.775855,0,before 2015,1,1,13965,sport car,1,1,12,orlando

# Load model dan utilities

In [8]:
# Load model and other files


with open("model/model.pkl", "rb") as model_file:
  model = pickle.load(model_file)

# Prediction

In [9]:
ranfo_prediction = model.predict(data)
ranfo_prediction

array([1, 0, 0, 1, 1, 1])

In [11]:
ranfo_prediction[0]

1